<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="html, css, python, javascript" />
    <meta name="description" content="Exploramos el contenido basico de html y css" />
    <meta name="author" content="https://github.com/Juanklg" />
    <link rel="icon" type="image/x-icon" href="" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
    <!-- <link href="static/css/tailwind.min.css" rel="stylesheet"> -->
    <title>Explorando Html parte 2</title>
    <style>
        body {
            background-color: darkgrey;
        }

        h1 {
            color: blueviolet;
            font-size: 2em;
            max-width: 300px;
            margin: auto;
            text-align: center;
        }

        #pInicial {
            background-color: cyan;
        }

        .libres {
            max-width: 500px;
        }

        .espacios {
            margin: auto;
            margin-top: 50px;
        }

        .imagenes {
            width: 100%;
        }

        .textos {
            display: block;
        }
    </style>
</head>

<body>
    <h1 onclick="alert('Usted hizo click en el titulo principal')">Explorando HTML y CSS parte 2</h1>
   

    <h2 title="Este es el titulo de las listas">Listas</h2>
    <ol>
        <li>Elemento 1</li>
        <li>Elemento 2</li>
    </ol>
    <ul>
        <li>Elemento 1</li>
        <li>Elemento 2</li>
    </ul>

    <h3>Parrafos</h3>
    <p class="parrafos libres" id="pInicial">
        En este texto vamos a mostar las diferentes etiquetas que podemos utilizar dentro de los parrafos o de
        cualquier etiqueta de texto.
        la primera es <strong>Strong</strong>, se usa para indicar que un texto o parte de un párrafo es importante.
        la segunda es time se usa para indicar que el texto hace referencia a una fecha <time>16/09/2021</time>
    </p>
    <div class="espacios" style="border: 5px;border-radius: 5px;border-style: dashed; max-width: 600px;">
        <p dir="rtl">
            En este parrafo vemos etiquetas para el texto que no relsatan informacion importante pero si modifican la
            forma en la que se ve
            el texto en la pagina, mostraremos algunos.<br><br>
            La etiqueta b : <b>coloca el texto en negrita</b>.<br>
            La etiqueta u : <u>subraya el texto</u>.<br>
            El br que hace un salto de linea<br>
            La etiqueta i : <i>es una etiqueta coloca el texto en cursiva</i><br>
            La etiqueta q : <q>representa una cita textual entre comillas</q><br>
            La etiqueta a : que genera un link a otra pagina u otro recurso con un nombre especifico <a
                href="https://www.youtube.com/">youtube</a>
        </p>
    </div>

    <h3>Tailwind</h3>
    <div class="container mx-auto flex flex-row justify-evenly">
    
        <button class="bg-red-500 hover:bg-red-700 rounded-full py-3 px-6">
            Hover me
        </button>
        <button onclick="mostrarAlerta()" class="py-3 px-6 ring-4 ring-indigo-300 transition duration-500 ease-in-out bg-blue-600 hover:bg-red-600 transform hover:-translate-y-1 hover:scale-110">
            Hover me
        </button>
        <button type="button" class="bg-gradient-to-r from-green-400 to-blue-500 hover:from-pink-500 hover:to-yellow-500 ...">
            Hover me
          </button>
        <button type="button" >Mostrar Alerta</button>
    </div>

    <h3>Bootstrap</h3>
    <!-- <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script> -->
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script> -->
    <div>
        <div class="card" style="width: 18rem;">
            <!-- <img src="..." class="card-img-top" alt="..."> -->
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        <button type="button" class="btn btn-success">Success</button>
        <button type="button" class="btn btn-danger">Danger</button>
    </div>

    <div id="alerta">
        <!-- This example requires Tailwind CSS v2.0+ -->
        <div class="fixed z-10 inset-0 overflow-y-auto" aria-labelledby="modal-title" role="dialog" aria-modal="true">
            <div class="flex items-end justify-center min-h-screen pt-4 px-4 pb-20 text-center sm:block sm:p-0">
                <!--
        Background overlay, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0"
          To: "opacity-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100"
          To: "opacity-0"
      -->
                <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

                <!-- This element is to trick the browser into centering the modal contents. -->
                <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>

                <!--
        Modal panel, show/hide based on modal state.
  
        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
                <div
                    class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:align-middle sm:max-w-lg sm:w-full">
                    <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                        <div class="sm:flex sm:items-start">
                            <div
                                class="mx-auto flex-shrink-0 flex items-center justify-center h-12 w-12 rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
                                <!-- Heroicon name: outline/exclamation -->
                                <svg class="h-6 w-6 text-red-600" xmlns="http://www.w3.org/2000/svg" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
                                </svg>
                            </div>
                            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
                                <h3 class="text-lg leading-6 font-medium text-gray-900" id="modal-title">
                                    Deactivate account
                                </h3>
                                <div class="mt-2">
                                    <p class="text-sm text-gray-500">
                                        Are you sure you want to deactivate your account? All of your data will be
                                        permanently removed. This action cannot be undone.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
                        <button type="button"
                            class="w-full inline-flex justify-center rounded-md border border-transparent shadow-sm px-4 py-2 bg-red-600 text-base font-medium text-white hover:bg-red-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 sm:ml-3 sm:w-auto sm:text-sm">
                            Deactivate
                        </button>
                        <button type="button"
                            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        let ealerta = document.getElementById("alerta");
        // console.log(ealerta.style.display)
        ealerta.style.display = "none";
        
        function mostrarAlerta(){
            // ealerta = document.getElementById('alerta')
            ealerta.style.display = "";
        } 
    </script>
    
</body>

</html>