{% extends "index.html" %}

{% block head %}
<title>***Video***</title>
{% endblock %}

{% block main %}

{% if nombre %}
<h2>El articulo {{nombre}} pertenece a la seccion {{seccion}}</h2>
{% endif%}

{% for var in vardict %}
    <p>var</p>
{% endfor %}

<h2>Video del profe garcia</h2>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SavAmyic_J4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
{% endblock %}