{% extends "layouts/layout.html" %}

{% block meta %}
<link href="static/css/imagenes.css" rel="stylesheet">
<!-- <link href="static/css/tailwind.min.css" rel="stylesheet"> -->
<!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"> -->
{% endblock meta %}

{% block content %}

<h2 title="Este s el titulo de las imagenes">Imagenes</h2>
    <img class="imagenes" src="static/img/space.jpg" alt="Perrito">

{% endblock%}