<html>

<Head></Head>

<body>
    <div>
        <h1>{{title}}</h1>
        <ul>
            <li><a href="http://127.0.0.1:5000/registro">Registro en la actividad</a></li>
            <li><a href="http://127.0.0.1:5000/doc" target="_blank">Pagina de documentacion</a></li>
        </ul>
    </div>
    <div>
        <h2>Inicio Actividad</h2>

        <form action="/login">
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" value=""/><br>
            <input type="submit" id="login" value='Ingresar'></input>
        </form>
    </div>
</body>

</html>