<html>
<Head></Head>
<body>
    <h1>Hola Grupo 48</h1>
    <p>
        Este proyecto consiste en una aplicación dirigida principalmente a jóvenes, pero cualquier
        persona podrá hacer uso de ella, en la cual los usuarios podrán interactuar de forma
        anónima con otros usuarios con la intención de recibir un apoyo emocional, una opinión, un
        consejo etc. Esta app también contará con personas especializadas en esta área como
        psicólogos, pero deberá de haber una forma de pago si se quiere hacer uso de este
        servicio. En la aplicación los usuarios contarán con una mascota y también se encontrará
        espacios de relajación y de entretenimiento para garantizar la mejor comodidad y calidad al
        usuario.
    </p>
    <p>
        El usuario entrará a la app y lo primero que hará es crear su usuario, después ingresa a la
        página principal donde encontrará la opción de personalizarla a su gusto modificando
        colores, fondo, figuras entre otros. Después de esto le aparecera una opcion para escoger
        su mascota luego regresara a la pagina principal, la función de la mascota es que se
        encargará de explicarle al usuario cómo funciona la aplicación, además que le avisa de sus
        notificaciones y durante su estadía en la aplicación le dirá al usuario frases motivadoras. En
        la página principal encontrará cada función o espacio de la aplicación, encontrará; el
        espacio de chat donde podrá poner su problema, pregunta, o situación en la que se
        encuentre y piense que necesite una ayuda, ahí esperará la respuesta de otros usuarios y
        así mismo podrá responder o ayudar a otros, además encontrará una opción en la parte
        superior de chat privado en el, podrá agregar usuarios e iniciar una conversación. Otra
        función será de poder poner música de fondo, ver recomendaciones o reproducir de su
        propia música mientras se encuentra en la app. El tercer espacio será el de relajación
        donde encontrará sonidos relajantes y juegos anti-estrés . El último espacio que encontrará
        será el espacio de entretenimiento por si el usuario quiere un poco de distracción, en este
        espacio encontrará una biblioteca de libros y de juegos. Todo pensado para la comodidad y
        ayuda al usuario.
    </p>
</body>
</html>