<!doctype html>
<html>

<Head>
    <title>{{title}}</title>    
</Head>

<body>
    <div>        
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg>
        <h4>Hello {{ user }}!</h4>
        <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
        </svg> -->
    </div>

    {% if listas %}
    <h1>Hello con listas!</h1>
    {% else %}
    <h1>Hello, sin lisltas!</h1>
    {% endif %}

    {% for x in data %}

    {% endfor %}

</body>

</html>