{% extends "layouts/layout.html" %}

{% block head %}
    <title>Diseños</title>
    <link rel="stylesheet" href="/static/css/disenos.css">
{% endblock %}

{% block content %}
    <h2>Diseños con Css</h2>
    <h3>Grid</h3>
    <div class="pGrid">
        <div class="hGrid1">Hijo 1</div>
        <div class="hGrid2">Hijo 2</div>
        <div class="hGrid3">Hijo 3</div>
        <div class="hGrid4">Hijo 4</div>
        <div class="hGrid5">Hijo 5</div>
        <div class="hGrid6">Hijo 6</div>
        <div class="hGrid7">Hijo 7</div>
    </div>
    
    <h3>Flexbox</h3>
    <div class="padreFlex">
        <div class="hijoFlex1">Hijo 1</div>
        <div class="hijoFlex2">Hijo 2</div>
        <div class="hijoFlex3">Hijo 3</div>
        <div class="hijoFlex4">Hijo 4</div>
        <div class="hijoFlex5">Hijo 5</div>
        <div class="hijoFlex6">Hijo 6</div>
        <div class="hijoFlex7">Hijo 7</div>
    </div>
{% endblock %}