{% extends "index.html" %}

{% block head %}
    <title>Fonts</title>
    <link rel="stylesheet" href="/static/css/fonts.css">
{% endblock %}

{% block main %}
    <h2>Fuentes con Css</h2>
    <div>
        <div class="boxs1"><p class="font_times">Times New Roman <br>(serif)</p></div>
        <div class="boxs2"><p class="font_georgia">Fuente Georgia <br>(serif)</p></div>
        <div class="boxs3"><p class="font_arial">Fuente Arial <br>(sans-serif)</p></div>
        <div class="boxs4"><p class="font_verdana">Fuente Verdana <br>(sans-serif)</p></div>
        <div class="boxs5"><p class="font_courier">Fuente Courier <br>(monospace)</p></div>
        <div class="boxs6"><p class="font_lucida">Fuente Lucida <br>(cursive)</p></div>
        <div class="boxs7"><p class="font_google1">Fuente  Google  Monoton <br/>(cursive)</p></div>
        <div class="boxs8"><p class="font_google2">Fuente Google Kalam <br/>(HandWriting)</p></div>
    </div>
    <div class="boxp1"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusamus id tenetur repellat alias fuga officia, animi cum earum dolorem? Incidunt, libero rerum similique veniam magnam eaque accusantium obcaecati enim eligendi cumque repellendus sapiente, itaque commodi animi officia praesentium nihil, neque quos perferendis sint adipisci corrupti consectetur cupiditate. Aperiam veritatis culpa fugiat, voluptatibus at a facilis! Voluptate, earum culpa! Iure sequi nulla laboriosam. Facere iure impedit quos fugit sequi mollitia minima optio iusto placeat vitae dolorem illo dolore quidem nostrum vero, tempore quaerat hic ut vel excepturi voluptatibus. Ipsam, omnis ratione eos quibusdam aspernatur consequatur ipsa magnam aperiam nesciunt, voluptatibus iusto?</p> </div>
    <div class="boxp2"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium ratione sunt assumenda repudiandae beatae sequi ut cupiditate voluptatem perferendis tenetur aut dolore error ipsa voluptatum ad repellat porro inventore, officia natus dignissimos commodi veniam consectetur similique. Maiores et adipisci quas alias ipsa, fugiat unde, ratione veritatis atque ut minima est id deleniti dolor nesciunt a debitis. Cum officia harum cupiditate suscipit aut laudantium adipisci ducimus. Et architecto vel tempore illo tempora vitae amet laudantium ullam explicabo, omnis aut asperiores magni cum nesciunt earum voluptatibus labore officia saepe similique iusto. Earum dicta sapiente quaerat vel incidunt omnis, veniam repudiandae animi?</p></div>
    <div class="boxp3"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet accusantium ratione sunt assumenda repudiandae beatae sequi ut cupiditate voluptatem perferendis tenetur aut dolore error ipsa voluptatum ad repellat porro inventore, officia natus dignissimos commodi veniam consectetur similique. Maiores et adipisci quas alias ipsa, fugiat unde, ratione veritatis atque ut minima est id deleniti dolor nesciunt a debitis. Cum officia harum cupiditate suscipit aut laudantium adipisci ducimus. Et architecto vel tempore illo tempora vitae amet laudantium ullam explicabo, omnis aut asperiores magni cum nesciunt earum voluptatibus labore officia saepe similique iusto. Earum dicta sapiente quaerat vel incidunt omnis, veniam repudiandae animi?</p></div>
{% endblock %}